<div class="panel-body" id="bookmarkWidgetContentsDiv">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#siteOfficeCollapse">IMP OTS Site Offices</a> </h4>
        </div>
        <div id="siteOfficeCollapse" class="panel-collapse collapse in">
            <div class="list-group">
                <a href="#" class="list-group-item" data-dojo-attach-point="bookmarkNorthNode"> North </a>
                <a href="#" class="list-group-item" data-dojo-attach-point="bookmarkSEKNode"> South & East </a>
                <a href="#" class="list-group-item" data-dojo-attach-point="bookmarkWestNode"> West </a>
            </div>
        </div>
    </div>
</div>
